// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.bg-on body {
  background: transparent;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

input[type="file"] {
    display: none;
}

.userimage {
    max-width: 100%;
}

.toprow {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fileentry {
    background: #333;
    border: 1px solid #383838;
    padding: 8px 0;
    border-collapse: collapse;
}

.progress {
    display: none;
}

#uploaderror {
    display: none;
}

#dropzone {
    margin: 5px 0px;
    padding: 6px 9px;
    font-size: 13px;
    line-height: 3;
    border-radius: 3px;
    background-color: #303030;
    border: 1px dashed #454545;
    text-align: center;
}
